body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:219px;
  width:153px;
  height:22px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u197_input:disabled {
  color:grayText;
}
