body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:553px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:231px;
  width:118px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:276px;
  width:65px;
  height:25px;
  font-size:16px;
  color:#000000;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:276px;
  width:183px;
  height:25px;
}
#u370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:311px;
  width:65px;
  height:25px;
  font-size:16px;
  color:#000000;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:311px;
  width:183px;
  height:25px;
}
#u372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:365px;
  width:100px;
  height:16px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u373_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:365px;
  width:100px;
  height:16px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u374_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:416px;
  width:86px;
  height:25px;
}
#u375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:421px;
  width:100px;
  height:16px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u376_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:154px;
  width:355px;
  height:35px;
  font-size:20px;
  color:#009900;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:451px;
  width:239px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#009900;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
